body{
    &:after{
        position: fixed;
        z-index: -1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        background: #fcfcfc;
    }    
}

.headerNav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    li {
        padding-left: 20px;
        a {
            text-decoration: none;
            font-size: 1.1em;
        }
    }
}
.logo {
    font-size: 1.5em;
    text-decoration: none;
}