@import 'global';
@import './layout.scss';



.#{$namespace}_nav{
    background:color(base_color);

    .headernav {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        li {
            padding-left: 20px;
            a {
                text-decoration: none;
                font-size: 1.1em;
                color:color(white);
            }
        }
    }
    .logo {
        font-size: 1.5em;
        text-decoration: none;
        color:color(white);
    }
}