@import 'global';
@import 'variables';
@import 'mixins';
@import '../library/padding';
@import '../library/margin';
@import '../library/size';
@import '../library/position';
@import '../utilities/directional-property';
@import '../utilities/compact-shorthand';
@import '../utilities/unpack-shorthand';




/*----Extend------------------*/

%dropdown-shadow {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}
%card-shadow{
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}


/*------Functions----------------*/
@function color($color-name) {
  @return map-get($colors, $color-name)
}

.#{$namespace}_navbar{ 
  @include padding(5px 0px);
  box-shadow: 1px 2px 3px #ccc;
  background:color(light-bg);

  .container{@include margin(null auto);}
  .nav_left{
    h3{@include margin(null null 0 null);}
  }
  .nav_right{@include flex-end;}
  .navcontainer{@include flex-between;}
  .header_search {
    @include align-center;border-bottom: 1px solid #dfe1e5;@include margin(null 10px null null);

        img{@include size(20px, null);}
        .input-field{border: none;height: 35px;color: #6f6d6d;width:100%;background: transparent;
          &:focus{
            outline:none;
          }
        }
      }

      .notify-img{@include size(25px, null);}
      .dropdown {
        @include position(relative, null null null null);
        @include flex-center;
        @include size(50px);        
        margin:5px;

      .dropdown-content {
        display: none;
        @include position(absolute, 95% null null null);
        background-color: #fff;
        min-width: 160px;
        @extend %dropdown-shadow;
        z-index: 1;

        a {
          color: black;
          @include padding(12px 16px);
          text-decoration: none;
          display: block;

          &:hover {
            background-color: #f1f1f1;
          }
        }
      }
      
      }
      .profile .dropdown-content{min-width:120px;}
}
.notify-img:hover + .dropdown-content, .dropdown:hover .dropdown-content{
  display: block;
}
/*---sidenav----*/
.#{$namespace}_sidenav{
  @include flex-between;
  .box_left{    
    background: color(light-bg);min-height: 500px;
  }
  
  .ul_main{
    margin:0;
    li{
      @include align-center;padding: 10px;border-bottom: 1px solid #ececec;
      &:hover { 
        background: #d6d6d6;color: #fff;border-left: 5px solid rgba(color(menuborder), .9 );
      }
      &.active {background: #d6d6d6;color: #fff;border-left: 5px solid rgba(color(menuborder), .9 ); }
      
      svg{
        @include size(30px, null);
        @include margin(null 10px null null);
      }
    }
  }
}
.ul_main li.active svg path,.ul_main li:hover svg path{fill:#fff;}
/*---Toolbar---*/
.#{$namespace}_toolbar{
  min-height: 65px;
  @include flex-row;
  box-sizing: border-box;
  @include padding(0 16px);
  @include size(100%, null);
  white-space: nowrap;
  background: #f5f5f5;
  color: color(text_color);
  h5{
    @include margin(null null 0 null);
  }
}
/*---Card----*/
.#{$namespace}_card{
  .card_box{
    padding: 16px;@extend %card-shadow;background: #fff;margin:5px;color: color(text_color);
    h5{@include margin(null null 0 null);}
  }
} 
/*--Button-----*/
.#{$namespace}_btnbase{
  min-width: 100px;
  box-shadow: none;
  border: none;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  @include padding(13px 19px);
  border-radius: 30px;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  &:focus{
    outline:none;
  }
  &.disabled{opacity: 0.5;}
}

.#{$namespace}_btnprimary{
  background:color(primary);color:#fff;
  &:hover {
    background:#1e9af5;
  }
  .btn_icn{
    svg{
      @include size(15px, null);
      @include margin(null 10px null null);
      path{
        fill:#fff;
      }
    }
  } 
}

.#{$namespace}_alertbox{
  position: relative;
  @include padding(.75rem 1.25rem);
  @include margin(1rem null 1rem null);
  border: 1px solid transparent;
  border-radius: 15px;
  @include size(40%, null);
  &.success{
    color: color(success);
    background-color: #d4edda;
    border-color: #c3e6cb;
    h4{
      color:color(success);
      @include margin(null null 10px null);
    }
    p{
      color:color(success);
      @include margin(0 null null null);
    }
  }
  &.warning{
    color: color(warning);
    background-color: #fff3cd;
    border-color: #ffeeba;
    h4{
      color:color(warning);
      @include margin(null null 10px null);
    }
    p{
      color:color(warning);
      @include margin(0 null null null);
    }
  }
  &.danger{
    color: color(danger);
    background-color: #f8d7da;
    border-color: #f5c6cb;
    h4{
      color:color(danger);
      @include margin(null null 10px null);
    }
    p{
      color:color(danger);
      @include margin(0 null null null);
    }
  }
}
