.cs_side_nav {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    background: #5cc1bb;
}

.leftNav {
    padding: 0 20px;
    li {
        margin: 0 -20px;
        a {
            display: block;
            text-decoration: none;
            color: white;
            line-height: 1.5;
            padding: 10px;
            letter-spacing: 1px;
            i {
                display: inline-block;
                margin: 0 10px 0 0;
            }
            &:hover {
                color: #fff;
                background: rgba(255,255,255, .1);
            }
        }
    }
}
